@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #09001d;
    /* overflow: hidden; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a img {
    width: 195px;
    height: 95px;
    margin-left: 42px;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 30px;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active {
    color: #3E7CFA;
}

.main {
    min-height: 100vh;
    background: url('../Assets/Background\ Tenis\ Jordan.png') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}


/* -----------------INICIO DASHBOARD----------------- */
/* Container principal */
.container {
    display: flex;
    width: 100%;
    padding: 150px 70px 0px 70px;
}


/* Conteúdo principal */
.conteudo-principal {
    flex-grow: 1;
    background-color: transparent;
    padding: 10px;
    overflow-y: auto;
}

/* Cabeçalho do conteúdo principal */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Título do cabeçalho */
.cabecalho h1 {
    font-size: 32px;
    color: #333;
    display: flex;
    margin-left: 40px;

}

.info-usuario h3 {
    font-size: 22px;
    color: #333;
    display: flex;
    justify-content: right;
    margin-right: 40px;
}


/* infos p usuario */
.info-usuario {
    display: flex;
    align-items: center;
}

/* visao geral */
.visao-geral-analitica {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* cards */
.cartao {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1;
    margin-right: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cartao:last-child {
    margin-right: 0;
}

.cartao:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: rgb(155, 195, 255);
}

/* titulo dos cards */
.cartao h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.cartao h3 i {
    margin-right: 8px;
}

/* texto dos cards */
.cartao p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* classe para cores */
.verde {
    color: #4caf50;
}

.vermelho {
    color: #f44336;
}

/* graficos */
.graficos {
    display: flex;
    justify-content: space-between;
}

.grafico {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
    height: 300px;
    /* Aumentando o tamanho dos gráficos */
}

.grafico:last-child {
    margin-right: 0;
}

/* titulo graficos */
.grafico h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

/* conteudo grafico */
.conteudo-grafico {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f7;
    border-radius: 8px;
    border: 1px solid #ddd;
}


/* -----------------ESTILIZAÇÃO PARA OS GRÁFICOS DO CHART.JS----------------- */

.chart-container {
    position: relative;
    width: 100%;
    height: 200px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}