@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.cabecalho a img {
    width: 200px;
    height: 100px;
    margin-left: 40px;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.barra-navegacao a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.barra-navegacao a:hover,
.barra-navegacao a.ativo {
    color: #3E7CFA;
}

.principal {
    min-height: 100vh;
    background: url('../Assets/Background\ Tenis\ Jordan.png') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.principal.ativo {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.inicio {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-inicio {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo-inicio h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    
}

.conteudo-inicio p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.conteudo-inicio .btn-comecar {
    width: 190px;
    height: 55px;
    background: #3E7CFA;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #3E7CFA;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.conteudo-inicio .btn-comecar:hover {
    background: #09001d;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.ativo {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    color: #3E7CFA;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .grupo-botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .grupo-botoes .btn-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #3E7CFA;
    border: 2px solid #3E7CFA;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .grupo-botoes .btn-info:nth-child(1) {
    background: transparent;
    color: #3E7CFA;
}

.popup-info .grupo-botoes .btn-info:nth-child(1):hover {
    background: #3E7CFA;
    color: #fff;
}

.popup-info .grupo-botoes .btn-info:nth-child(2):hover {
    background: #2c59b4;
    border-color: #2c59b4;
}

.secao-quiz {
    position: relative;
    left: -50%;
    width: 100%;    
    background: #09001d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.secao-quiz.ativo {
    left: 0;
}

.secao-quiz .caixa-quiz {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #3E7CFA;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.secao-quiz .caixa-quiz.ativo {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.caixa-quiz h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #3E7CFA, transparent);
    border-radius: 6px;
}

.caixa-quiz .cabecalho-quiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #3E7CFA;
    margin-bottom: 30px;
}

.cabecalho-quiz span {
    font-size: 18px;
    font-weight: 500;
}

.cabecalho-quiz .cabecalho-pontuacao {
    background: #3E7CFA;
    border-radius: 3px;
    padding: 7px;
}

.caixa-quiz .texto-pergunta {
    font-size: 24px;
    font-weight: 600;
}

.lista-opcoes .opcao {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.lista-opcoes .opcao:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.lista-opcoes .opcao.correta {
    background: #09001d;
    color: #00a63d;
    border-color: #00a63d;
}

.lista-opcoes .opcao.incorreta {
    background: #09001d;
    color: #a60045;
    border-color: #a60045;
}

.lista-opcoes .opcao.desativada {
    pointer-events: none;
}

.caixa-quiz .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #3E7CFA;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .total-perguntas {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .btn-proxima {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}

.quiz-footer .btn-proxima.ativo {
    pointer-events: auto;
    background: #3E7CFA;
    border-color: #3E7CFA;
    color: #fff;
}

.quiz-footer .btn-proxima.ativo:hover {
    background: #2c59b4;
    border-color: #2c59b4;
}

.secao-quiz .caixa-resultado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #3E7CFA;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.secao-quiz .caixa-resultado.ativo {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.caixa-resultado h2 {
    font-size: 42px;
}

.caixa-resultado .container-porcentagem {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.container-porcentagem .progresso-circular {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#3E7CFA 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-porcentagem .progresso-circular::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}

.progresso-circular .valor-progresso {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.container-porcentagem .texto-pontuacao {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.caixa-resultado .botoes {
    display: flex;
}

.botoes button {
    width: 200px;
    height: 47px;
    background: #3E7CFA;
    border: 2px solid #3e7cfa;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.botoes button:nth-child(1):hover {
    background: transparent;
    border-color: #2c59b4;
    color: #3E7CFA;
}

.botoes button:nth-child(2) {
    background: transparent;
    color: #3E7CFA;
}

.botoes button:nth-child(2):hover {
    background: #3E7CFA;
    color: #fff;
}
