@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins);


/* -----------------------HOME----------------------- */
* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;; */
}

body {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url(../Assets/Background\ Tenis\ Jordan.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
    scale: 40%;
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list-itens {
    display: flex;
    gap: 150px;
    width: 100%;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;

}

.list-itens li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    border-top: 10px;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;

}


.sobre {
    width: 23px;
    height: 33px;
    margin-left: 17px;
}

.favoritos {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-top: -9px;
}

.novidades {
    width: 26px;
    height: 26px;
    margin-left: 19px;
    margin-top: 5px;
}

.entrar {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    /* margin-top: 5px; */
}

.itens .list-itens a {
    list-style: none;
    text-decoration: none;
}

.texto_centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.texto_centro .conheca {
    font-family: "Rubik Bubbles", system-ui;
    color: whitesmoke;
    -webkit-text-stroke: 1.4px #3E7CFA;
    font-size: 54px;
    text-align: center;
}

.texto_centro .botao button {
    width: 210px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    background-color: gray;
    border-radius: 10px;
    font-size: 14px;
}


/* -----------------------SOBRE----------------------- */


.sobreDream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgba(128, 92, 59, 0.7), rgba(112, 3, 3, 0.5));
    

    background-size: cover;
}


.sobreDream article {
    flex: 1;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;


}

.sobreDream article img {
    width: 800px;
}


.sobreDream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreDream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.sobreDream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

/* -----------------------LANÇAMENTOS----------------------- */

.favoritos-dream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgba(15, 129, 196, 0.8), rgba(7, 82, 117, 0.6));
}

.favoritos-dream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favoritos-dream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.favoritos-dream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

.favoritos-dream article {
    flex: 2;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;
}

.card-group {
    max-width: 100%;
    width: 1200px;
    display: flex;
    column-gap: 16px;
    padding: 50px;
    overflow-x: hidden;
}

.card {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0px;
    box-shadow: -16px 0 32px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    transition: transform 250ms;
    width: 100%;

}

.card:not(:first-child) {
    margin-left: -130px;
}

.card:hover {
    transform: translate(-8px, -16px);
    rotate: (3deg);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card-group .card img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 12px;
}


/* -----------------------NOVIDADES----------------------- */

.novidades-dream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, rgba(190, 145, 145, 0.8), rgba(7, 82, 117, 0.6));
}

.novidades-dream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.novidades-dream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.novidades-dream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

.novidades-dream article {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;
}

.card-novidades{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 550px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.card-novidades:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-8deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);

}

.card-novidades:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(11, 45, 77, 0.3), rgba(177, 172, 100, 0.8));
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card-novidades:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: linear-gradient(90deg, rgba(177, 172, 100, 0.8), rgba(11, 45, 77, 0.3));
    transform-origin: left;
    transform: skewY(-45deg);
}

.card-novidades img{
    width: 100%;
    max-width: 400px;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.card-novidades:hover img{
    transform: rotateY(-150deg);
}

/* 
#sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: azure;
}

#sobre article {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre article img {
    width: 100%;
    max-width: 500px;
}

#sobre aside {
    width: 60%;
    height: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

#sobre aside p {
    width: 400px;
    font-size: 1.5rem;
    text-align: justify;
} */