@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins);


/* -----------------------HOME----------------------- */
* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;; */
}

body {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url(../Assets/Background\ Tenis\ Jordan.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
    scale: 40%;
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list-itens {
    display: flex;
    gap: 150px;
    width: 100%;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;

}

.list-itens li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    border-top: 10px;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;

}


.sobre {
    width: 23px;
    height: 33px;
    margin-left: 17px;
}

.lancamentos {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-top: -9px;
}

.novidades {
    width: 26px;
    height: 26px;
    margin-left: 19px;
    margin-top: 5px;
}

.entrar {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    /* margin-top: 5px; */
}

.itens .list-itens a {
    list-style: none;
    text-decoration: none;
}

.texto_centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.texto_centro .conheca {
    font-family: "Rubik Bubbles", system-ui;
    color: whitesmoke;
    -webkit-text-stroke: 1.5px #3E7CFA;
    text-stroke: 2px #FFF;
    font-size: 40px;
    text-align: center;
}

.texto_centro .botao button {
    width: 210px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    background-color: gray;
    border-radius: 10px;
    font-size: 14px;
}


/* -----------------------SOBRE----------------------- */


.sobreDream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bd7b62;
    background-size: cover;
}


.imagem-tenis {
    flex: 1;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.imagem-tenis img {
    width: 850px;
    /* height: 500px; */
    /* border-radius: 25px; */
}


.sobreDream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreDream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.sobreDream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

/* -----------------------LANÇAMENTOS----------------------- */

.lancamentos-dream{
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAD1D1;
}


/* 
#sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: azure;
}

#sobre article {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre article img {
    width: 100%;
    max-width: 500px;
}

#sobre aside {
    width: 60%;
    height: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

#sobre aside p {
    width: 400px;
    font-size: 1.5rem;
    text-align: justify;
} */