@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins);

html {
    scroll-behavior: smooth;
}
/* -----------------------HOME----------------------- */
* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(175deg, rgba(185, 66, 66, 0.5), rgba(63, 140, 255, 0.75));
}

.home {
    background-image: url(../Assets/Background\ Tenis\ Jordan.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
    scale: 40%;
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list-itens {
    display: flex;
    gap: 150px;
    width: 100%;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;

}

.list-itens a li {
    display: flex;
    font-family: 'Arial', sans-serif;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    color: white;
    /* -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black; */
}

.list-itens a li:hover {
    color: #3E7CFA;
    font-size: 21px;
    transition: all 0.5s;
}

.sobre {
    width: 22px;
    height: 32px;
    margin-left: 17px;
    margin-top: -3px;
}

.favoritos {
    width: 36px;
    height: 36px;
    margin-left: 12px;
    margin-top: -9px;
    filter: invert(100%);
}

.novidades {
    width: 26px;
    height: 26px;
    margin-left: 19px;
    margin-top: 2px;
}

.entrar {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: -3px;
}

.itens .list-itens a {
    list-style: none;
    text-decoration: none;
}

.texto_centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.texto_centro .conheca {
    font-family: "Rubik Bubbles", system-ui;
    color: whitesmoke;
    -webkit-text-stroke: 1.4px #3E7CFA;
    font-size: 54px;
    text-align: center;
}

/* button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    background-color: #7fa4ee;
    border-radius: 10px;
    box-shadow: 0 0 5px #7fa4ee,
    0 0 12px;
}

button:hover {
    box-shadow: 0 0 5px #1b2333,
    0 0 20px #1b2333, 0 0 15px #1b2333,
    0 0 10px #1b2333, 0 0 10px #1b2333;
    background-color: #1b2333;
    color: #7fa4ee;
    transition: all 0.3s;
} */

button {
    position: relative;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 2px solid #3E7CFA;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(20, 26, 39, 0.5),
    0 0 20px rgba(20, 26, 39, 0.5), 0 0 15px rgba(20, 26, 39, 0.5),
    0 0 10px rgba(20, 26, 39, 0.5), 0 0 10px rgba(20, 26, 39, 0.5);
}

button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #3E7CFA, #081b29, #3E7CFA);
    z-index: -1;
    transition: .5s;
}

button:hover::before {
    top: 0;
} 

/* -----------------------SOBRE----------------------- */


.sobreDream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.sobreDream article {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;
}


.sobreDream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreDream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.sobreDream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

/* -----------------------CARD LIVRO----------------------- */
.card-tenis{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 300px;
    height: 400px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.card-tenis:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-8deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5); 
}

.card-tenis:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0; 
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(33, 74, 134, 1), rgba(98, 161, 255, 1));
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card-tenis:after{
    content: '';
    position: absolute; 
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: linear-gradient(90deg, rgba(98, 161, 255, 1), rgba(33, 74, 134, 1));
    transform-origin: left;
    transform: skewY(-45deg);
}

.card-tenis img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.card-tenis:hover img{
    transform: rotateY(-150deg);
}

.card-tenis .texto {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;

    & p {
        font-family: 'Poppins';
        text-align: justify;
        font-size: 14px;
    }

    & h2 {
        font-size: 22px;
        margin-bottom: 2px;

    }
    
}
/* -----------------------FAVORITOS----------------------- */

.favoritos-dream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(15, 129, 196, 0.8), rgba(7, 82, 117, 0.6)); */
}

.favoritos-dream aside {
    flex: 1;
    height: 100%;
    padding: 0 0 0 75px; /* superior | direita | inferior | esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favoritos-dream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.favoritos-dream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

.favoritos-dream article {
    flex: 1;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;
}

.card-group {
    max-width: 100vw;
    width: 100vw;
    display: flex;
    column-gap: 16px;
     padding: 70px 55px; /* vertical, horizontal */
    overflow-x: hidden;
}

.card {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0px;
    box-shadow: -16px 0 32px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    transition: transform 500ms;
    width: 100%;
    max-width: 100%;
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card:hover {
    transform: translate(-8px, -16px);
    rotate: (3deg);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card-group .card img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 12px;
}


/* -----------------------NOVIDADES----------------------- */

.novidades-dream {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(190, 145, 145, 0.8), rgba(7, 82, 117, 0.6)); */
}

.novidades-dream aside {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.novidades-dream aside h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(26, 10, 18);
}

.novidades-dream aside p {
    font-family: 'Poppins';
    text-align: justify;
}

.novidades-dream article {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    perspective: 800px;
}

/* -----------------------CARDS-SLIDES-NOVIDADES----------------------- */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card-novidades {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card-novidades > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card-novidades > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card-novidades > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    /* padding-top: 5px; */
    font-size: 14px;
    margin-bottom: 18px;
}

.description h4 {
    text-transform: uppercase;
    font-family: "Rubik Bubbles", system-ui;
    color: #132c5f;
    font-size: 22px;
}

input {
    display: none;
}

input:checked + label {
    width: 400px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card-novidades[for="c1"] {
    background-image: url(../Assets/Slide-Novidades/8.png);
}
.card-novidades[for="c2"] {
    background-image: url(../Assets/Slide-Novidades/9.png);
}
.card-novidades[for="c3"] {
    background-image: url(../Assets/Slide-Novidades/10.png);
}
.card-novidades[for="c4"] {
    background-image: url(../Assets/Slide-Novidades/11.png);
}


/* -----------------------FOOTER----------------------- */
.footer-content {
    background-color: #282828;
    color: white;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.footer-content .footer-logo img {
    max-height: 50px;
    margin-left: 20px;
}

.footer-content .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-bottom: 10px; 
}

.footer-content ul.quick-links li a, .footer-content li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content li a:hover, .footer-content ul.quick-links li a:hover {
    color: #3E7CFA;
    font-size: 17px;
    transition: all 0.4s;
}

.footer-content p {
    margin-top: 0;
    margin-bottom: 5px;
}

.contact-icons {
    display: flex;
    gap: 35px;
    margin-right: 50px;
}

.contact-icons a img {
    max-height: 50px;
    transition: transform 0.3s;
}

.contact-icons a:hover img {
    transform: scale(1.1);
}

