/* Reset básico e estilos globais */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #20232a;
    color: #61dafb;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
}

.banner {
    background-image: url('header-banner.jpg'); /* Substitua 'header-banner.jpg' pela sua imagem */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.banner h2 {
    font-size: 2.5rem;
}

.banner p {
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.featured-products {
    padding: 20px;
    background: white;
    text-align: center;
}

.product {
    background: #fff;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
}

footer {
    background: #20232a;
    color: #61dafb;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1, nav ul, .banner h2, .banner p, .product-grid {
        text-align: center;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
    }

    .product-grid {
        flex-direction: column;
    }
}
